<footer class="site-footer">
  <div class="site-footer__inner">

    <!-- COPYRIGHT (uguale per IT e RO) -->
    <p class="footer-name">
      &copy; {{ now.Year }} -  Iuliana David · Mental Coach - Cuneo
    </p>

    <!-- BLOCCO MULTILINGUA -->
    {{ if eq .Site.Language.Lang "ro" }}

      <!-- 🇷🇴 VERSIONE ROMENA -->
      <p class="footer-info">
        Studio profesional · Cod fiscal 00000000000 · ID 000000000
      </p>

      <p class="footer-links">
        <a href="{{ "/privacy-cookie/" | relLangURL }}">Privacy & Cookie</a>
      </p>

      <p class="footer-credit">
        Realizat cu ❤️ de Manuel - <a href="https://assemblercomputerlab.it" target="_blank">Assembler Computer Lab</a>
      </p>

    {{ else }}

      <!-- 🇮🇹 VERSIONE ITALIANA -->
      <p class="footer-info">
        Studio professionale · ID 00000000000 · CF DVDLNA00A00A000A
      </p>

      <p class="footer-links">
        <a href="{{ "/privacy-cookie/" | relLangURL }}">Privacy & Cookie</a>
      </p>

      <p class="footer-credit">
        Realizzato con ❤️ da Manuel - <a href="https://www.assemblercomputer.net/" target="_blank">Assembler Computer</a>
      </p>

    {{ end }}

  </div>
</footer>
