<header class="site-header">
  <div class="site-header__inner">
    <div class="site-logo">
      <!-- qui poi metteremo il logo -->
      Iuliana David
    </div>

    <nav class="main-nav">
      <ul>
        {{ $current := . }}
        {{ range .Site.Menus.main }}
          <li class="{{ if or ($current.IsMenuCurrent "main" .) ($current.HasMenuCurrent "main" .) }}is-active{{ end }}">
            <a href="{{ .URL | relLangURL }}">{{ .Name }}</a>
          </li>
        {{ end }}
      </ul>
    </nav>

    <div class="lang-switch">
      {{ range .Site.Languages }}
        {{ if eq .Lang $.Site.Language.Lang }}
          <strong>
            {{ if eq .Lang "it" }}🇮🇹 IT{{ else }}🇷🇴 RO{{ end }}
          </strong>
        {{ else }}
          <a href="{{ .Lang | relLangURL }}">
            {{ if eq .Lang "it" }}🇮🇹 IT{{ else }}🇷🇴 RO{{ end }}
          </a>
        {{ end }}
      {{ end }}
    </div>
  </div>
</header>